@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.background {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.happy-card {
    background-color: #f6c56e;
    color: #323f4b;
    text-align: left;
    padding: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.main-head {
    font-family: "Bree Serif";
}

.para {
    font-family: "Roboto";
}

.button {
    font-family: "Roboto";
    background-color: #ffffff;
    border-width: 0px;
    width: 40vw;
    padding: 10px;
    border-radius: 05px
}